<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0663694c-d868-11e9-8a34-2a2ae2dbcce4</string>
		<key>recipe</key>
		<string>Shrimp Spaghetti with Tomato Sauce</string>
		<key>result</key>
		<string>https://images.media-allrecipes.com/userphotos/560x315/7006861.jpg</string>
	</dict>
</array>
</plist>
